header {
    background: $bgc1;
    color: $clr1;
    margin-bottom: 20px;

    .app-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        h3 {
            font-family: Lato;
            font-size: 1.75em;
        }

        nav a {
            margin: .5em;
            font-size: 1.25em;

            &:active {
                color: $hc1;
            }

            &.active {
                color: $hc1;
                font-weight: bold;
                text-decoration: underline;
            }
        }

        .user-info {
            display: grid;
            gap: 5px;
            align-items: center;
            justify-items: center;

            a {
                display: flex;
            }
        }

        .user-img {
            width: 50px;
            align-self: center;
            justify-self: end;
            margin-inline-end: 10px;
        }

    }
}