.sort-main-section {
    h4 {
        text-align: center;
        margin-bottom: 10px;
        text-decoration: underline;
    }

}

.sort-section {
    text-align: center;
    display: flex;
    align-items: center;

    select {
        border-radius: 10px;
        background-color: $clr1;
        border: none;
        font-family: inherit;
    }

    >* {
        padding: 10px;
    }
}