.sort-main-section {
    h4 {
        text-align: center;
        margin-bottom: 10px;
        text-decoration: underline;
    }

}

.sort-section {
    text-align: center;
    display: flex;
    align-items: center;

    >* {
        padding: 10px;
    }
}