.user-details {
    h1 {
        font-size: 1.3em;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 1em;
        margin-bottom: 30px;

    }

    .user-img {
        width: 5vw;
        margin-bottom: 10px;

    }
}