/* Setup */
@import './setup/variables.css';

@import './setup/fonts.css';
@import './setup/font-awesome.css';


/* Basics */
@import './basics/base.css';
@import './basics/helpers.css';



/* Views */
/* @import './views/todo-index.css';
@import './views/app.css';
@import './views/home.css';
@import './views/about.css';
@import './views/user-profile.css'; */


/* Cmps */
@import './cmps/app-header.css';
@import './cmps/user-msg.css';
@import './cmps/toy-list.css';
@import './cmps/toy-details.css';

@import './cmps/app-footer.css';