/* Setup */
@import 'setup/variables';

@import 'setup/fonts';
@import 'setup/font-awesome';


/* Basics */
@import 'basics/base';
@import 'basics/helpers';


/* Pages */

@import 'pages/app';
@import 'pages/home';
@import 'pages/toy-index';
@import 'pages/toy-details';


/* Cmps */
@import 'cmps/app-header';
@import 'cmps/user-msg';
@import 'cmps/toy-filter';
@import 'cmps/toy-sort';
@import 'cmps/toy-list';
@import 'cmps/toy-preview';
@import 'cmps/msg-preview';

@import 'cmps/app-footer';